@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
@font-face {
  font-family: 'Vazirmatn';
  src: url('/Fonts/Vazirmatn/Vazirmatn-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Vazirmatn';
  src: url('/Fonts/Vazirmatn/Vazirmatn-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Vazirmatn';
  src: url('/Fonts/Vazirmatn/Vazirmatn-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}
/* ریست کامل برای Next.js */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root,
#__next {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}



.dome-gallery {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}

.dome-gallery canvas {
  filter: drop-shadow(0 0 20px rgba(255, 215, 0, 0.3)); 
}


@media (max-width: 768px) {
  .dome-gallery {
    height: 70vh;
  }
}
